html, body {
  margin: 0;
  padding: 0;
}
.invisible{
  display: none;
}  
main {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
#hintKey {
  font-size: 200%;
  text-align: center;
  position: absolute;
  font-family: sans-serif;
}
main h2 {
  text-align: center;
}
main h1 {
  font-size: 1000%;
  text-align: center;
}
main footer {
  position: absolute;
  bottom: 20px;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}  
#hint {
  margin: 0;
  font-size: 200%;
  position: relative;
  right: 65px;
}  
@keyframes attention {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}  
@keyframes winner {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}  
.attention {
  animation: attention 1s infinite;
}  
.winner {
  animation: attention 0.4s infinite;
}
  